<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


    <h1 class="text-center">Team Design Section with Pure CSS Effect</h1>
	<div class="container">
	<div class="row">
	<!--team-1-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="assets/matriz.png" class="img-fluid" />
	<h3>Solucion mas optima</h3>
	<p>Web Designer</p>
	</div>
	
	<div class="team-back">
	<span><h4>
        ¿Necesitas obtener la mejor solucion?, tenemos la herramienta indicada,  En nuestro sistenma usamos
        soluciones a problemas lineales, prueba nuestro sistema dirigiendote al menu superior

    </h4>
	</span>
	</div>
	
	</div>
	</div>
	<!--team-1-->
	
	<!--team-2-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="assets/calculadora.png" class="img-fluid" />
	<h3>Solucion satisfactoria</h3>
	<p>Web Designer</p>
	</div>
	
	<div class="team-back">
	<span><h4>
        Puede que no estes buscando la mas otima, si no la que satisfaga mejor tus necesidades,  
        Tenemos la soulcion, dirigite al menu superior en "Metodo scoring", enontraras lo que necesitas
    </h4>
	</span>
	</div>
	
	</div>
	</div>
	<!--team-2-->
	
	<!--team-3-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="assets/automatizacion.png" class="img-fluid" />
	<h3>Busqueda de datos</h3>
	<p>Web Designer</p>
	</div>
	
	<div class="team-back">
	<span><h4>	
        Si necesitas , filtrar datos de una gran mas de informacion , tenemos un ejemplo que seguro podria interersarte
        , en la mineria de datos , se aplican metoos de busqueda complejos y robustos, seguro se adapta a tu problematica
    </h4>
	</span>
	</div>
	</div>
	</div>
	</div>
	</div>