<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        
     
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
                    
          <img
          src="assets/automatizacion.png"
          height="50"
          alt="MDB Logo"
          loading="lazy"
        />
        <strong>SISTEMAS DSS
        </strong>
          </li>


          <li class="nav-item">
            <a class="nav-link" (click)="simplex()"> <img src="assets/matriz.png" height="30" /><strong>  Metodo simplex</strong></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="scoring()"> <img src="assets/calculadora.png" height="30" /><strong>  Metodo scoring</strong></a>
          </li>


          <li class="nav-item">
            <a class="nav-link" (click)="mineria()"> <img src="assets/mineria.png" height="30" /><strong>  Mineria de datos</strong></a>
          </li>


		  <li class="nav-item">
        <a  class="nav-link"  (click)="home()"> <img src="assets/menu.png" height="30" /><strong>  Home</strong></a>
      </li>
    </ul>
  </div>
</div>
</nav>
